a, a:hover, a:focus, a:active {
	text-decoration: none;
}
a:hover, a:focus, a:active {
	outline: none;
}
body {
	font-size: 19px;
}
.light-gray-text {
	color: #878787;
}
.text-center {
	text-align: center;
}
.logo-navbar{
	width: 80px;
	height: auto;
}
.logo-link{
	padding: 0px !important;
	padding-right: 20px !important;
	padding-top: 8px !important;
}
.navbar{
	margin-bottom: 0px;
	z-index:1;
}
.navbar-default{
	border: none;
	background-color: #FFF;
	color: #151e34;
	font-size: 18px;
	position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
}
.navbar-default .container-fluid {
	padding: 0;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-collapse{
	margin: 0 auto !important;
	max-width: 1540px;
	padding: 0 50px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #151e34;
	background-color: transparent;
	font-weight: 700;
}
.navbar-default .navbar-nav>li>a{
	color: #151e34;
}
.navbar-default .navbar-nav>li>a:hover {
	font-weight: 700;
}
.navbar-mobile-logo {
	display: none;
}
main {
	margin-top: 50px;
}
main > *:not(.borders) {
	margin: 0 auto;
	max-width: 1540px;
}
.header-container{
	background: url("../img/photos-03.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
    height: 80vh;
}
.navbar .nav > li {
z-index: 10000;
}
.padding-header{
	padding-left: 30px;
	margin-bottom: 0;
}
.header-text {
	position: relative;
	text-align: left;
	margin-left: 50px;
	list-style: none;
	top: 50%;
	transform: translateY(-50%);
}
.header-title{
	font-size: 75.4px;
}
.header-subtitle{
	font-size: 75.4px;
	line-height: 60px;
}
.header-description{
	font-size: 34px;
}
p {
    margin: 0 0 0px;
}
.black{
	color: #151e34;
}
.white{
	color: #FFF;
}
.machinery-trunz-text {
	margin-bottom: 30px;
	margin-left: 50px;
}
.machinery-trunz-logo {
	margin-left: 40px;
}
.trunz-title{
	color: #3c3c3b;
	font-size: 26px;
	margin-top: 0;
}
.trunz-link{
	width: 180px;
	background-color: #5a75b4;
	border-radius: 30px;
	margin-top: 70px;
	padding: 9px 10px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}
.trunz-description {
	color: #878787;
	font-size: 19px;
	margin-bottom: 30px;
	margin-top: 15px;
}
.row{
	margin: 0px;
}
.row.center-cols {
	text-align: center;
}
.row.center-cols > div,
.row.center-cols > fieldset {
	display: inline-block;
	float: none;
	text-align: initial;
	vertical-align: top;
}
.borders{
	margin: 0 auto;
	max-width: 1540px;
	padding: 0 50px;
}
.filler{
	padding-top: 80px;
	padding-bottom: 80px;
}
.text-filler{
	background-color: #f2f3f4;
	padding-top: 30px;
	padding-bottom: 30px;
}
.filler-content{
	font-size: 30px;
	color: #3c3c3b;
	letter-spacing: 1px;
	text-align: center;
}
.trunz-logo{
	width: 180px;
	height: auto;
}
.image-container{
	padding-top: 60px;
	padding-bottom: 60px;
}
.image-container div {
	display: inline-block;
	text-align: left;
}
.image-container.one{
	background: url("../img/photos-06.jpg") center center no-repeat;
    background-size: cover;
    text-align: left;
    padding-left: 30px;
}
.image-container.two{
	background: url("../img/photos-07.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
}
.image-container.three{
	background: url("../img/photos-08.jpg") center center no-repeat;
  background-size: cover;
  padding-right: 30px;
  text-align: right;
}
.image-container.dron{
	background: url("../img/photos-09.jpg") center center no-repeat;
    background-size: cover;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 200px;
    padding-top: 120px;
}
.image-title{
	font-size: 42px;
}
.image-container.one .image-subtitle {
	margin-left: -7px;
}
.image-subtitle{
	font-size: 88px;
	line-height: 60px;
	margin-left: -4px;
}
.image-subtitle-dron{
	font-size: 70px;
	line-height: 60px;
}
.image-description {
	font-size: 26px;
	line-height: 1.2;
}

/* Sections */
.section-gray-header {
	background-color: #F4F4F4;
	color: #3C3C3B;
	font-size: 23px;
	margin-top: 60px;
	padding: 50px 15% 65px 15%;
	text-align: center;
}
.section-gray-header h2 {
	font-size: 41px;
	margin-bottom: 20px;
}
.section-gray-header p {
	line-height: 1.7;
}
.section-regular-text {
	font-size: 19px;
}
fieldset {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	font-size: 19px;
	padding: 15px 20px 20px 20px;
	text-align: center;
}
fieldset > *:not(legend) {
	text-align: left;
}
legend {
	border: none;
	color: #999999;
	font-family: "Avenir";
	font-size: 17px;
	line-height: 1;
	margin: 0;
	padding: 0 10px;
	width: auto;
}

#about-us-cover {
	background-image: url('../img/about-us-cover.jpg');
	background-position: center;
	background-size: cover;
	height: 60vh;
	max-height: 500px;
	min-height: 200px;
}
.about-us-text-container {
	align-items: stretch;
	display: flex;
	margin: 40px auto 80px auto;
	width: 78%;
}
.about-us-text {
	flex-grow: 1;
	margin-left: 60px;
}
.about-us-p:not(.first-p) {
	margin-top: 25px;
}
.about-us-image fieldset {
	max-height: 100%;
	width: auto;
}
.about-us-image img {
	height: auto;
	min-width: 230px;
	width: 100%;
}

.machinery-header {
	padding-bottom: 160px;
}
#machinery-squares {
	margin-top: -10%;
	margin-bottom: 15px;
}
.machinery-boxes {
	display: flex;
	max-width: 1115px;
	margin: 40px auto 90px auto;
	width: 90%;
}
.machinery-boxes fieldset {
	width: 50%;
}
.machinery-boxes fieldset:first-child {
	margin-right: 15px;
}
.machinery-boxes fieldset:last-child {
	margin-left: 15px;
}
#machinery-graphic {
	max-width: 1540px;
	margin: 40px auto;
}
/*#machinery-graphic fieldset {
	margin: 30px auto;
	padding-bottom: 0;
	width: 80%;
}
#machinery-graphic .graphic-columns {
	columns: 2;
  counter-reset: item;
	list-style-type: none;
}
#machinery-graphic .graphic-columns li {
	align-items: flex-start;
	display: flex;
}
#machinery-graphic .graphic-columns li:not(:first-child) {
	margin-top: 7px;
}
#machinery-graphic .graphic-columns li::before {
	color: #c0262c;
	content: counter(item);
  counter-increment: item;
  font-size: 28px;
  line-height: 0.9;
  margin-right: 10px;
}*/
.machinery-video {
	margin: 0 auto;
	min-width: 290px;
	max-width: 924px;
	width: 60%;
}
.machinery-certifications {
	margin: 60px auto !important;
	min-width: 290px;
	max-width: 924px;
	padding: 60px 20px 80px 20px;
	text-align: center;
	width: 60%;
}
.machinery-certifications img {
	margin: 20px;
}

.machinery-type-header {
	margin-top: 70px;
	padding-bottom: 0;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 80px;
}
.machinery-type-header img {
	margin-bottom: -5px;
	width: 100%;
}
.machinery-type-subsection {
	margin: 70px auto 0 auto;
	width: 93%;
}
.machinery-type-subsection:last-child {
	margin-bottom: 70px;
}
.machinery-type-subsection h3 {
	font-size: 33px;
	text-align: center;
}
.machinery-type-subsection .items-container {
	display: flex;
	justify-content: center;
}
.machinery-type-subsection .items-container.one-item fieldset {
	width: 60%;
}
.machinery-type-subsection .items-container.two-items fieldset {
	width: 50%;
}
.machinery-type-subsection .items-container.three-items fieldset {
	width: 33%;
}
.machinery-type-subsection fieldset {
	margin: 20px 15px 0 15px;
	text-align: center !important;
}
.machinery-type-subsection fieldset img,
.machinery-item-picture img {
	height: auto;
	max-height: 250px;
	max-width: 100%;
	width: auto;
}

.machinery-item-header {
	margin: 80px auto 40px auto;
	padding: 10px 20px;
	width: 80%;
}
.machinery-item-picture {
	margin: 0 auto 80px auto;
	min-width: 270px;
	width: 40%;
}
.machinery-item-text {
	color: #3C3C3B;
	font-family: "CatamaranLight";
	margin: 0 auto;
	min-width: 280px;
	width: 80%;
}
.machinery-item-text:not(:first-of-type) {
	margin-top: 20px;
}
.machinery-item-characteristics {
	margin: 70px auto 60px auto;
	min-width: 280px;
	padding-bottom: 10px;
	width: 45%;
}
.machinery-item-characteristics ul {
	color: #3C3C3B;
	font-family: CatamaranLight;
	list-style: none;
	margin-left: -30px;
	line-height: 1.8;
}
.machinery-item-back {
	color: #5A75B4;
	display: inline-block;
	font-family: CatamaranLight;
	font-size: 22px;
	font-variant: small-caps;
	margin-left: 10%;
	margin-bottom: 50px;
}

#drone-section-header {
	background-image: url('../img/photos-10.jpg');
	background-position: center;
	background-size: cover;
	color: white;
	height: 60vh;
	margin-top: 120px;
	max-height: 500px;
}
#drone-section-header p {
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 86%;
}
#drone-section-header .small-text {
	display: block;
	font-size: 42px;
	text-align: center;
}
#drone-section-header .big-text {
	display: block;
	font-size: 70px;
	line-height: 0.9;
	text-align: center;
}
#drone-section-content {
	background: #f4f4f4;
	color: #3C3C3B;
	font-family: "CatamaranLight";
	padding: 80px 0 140px 0;
}
#drone-section-content p {
	margin: 0 auto;
	max-width: 800px;
	width: 70%;
}
#drone-section-content ul {
	color: #5a75b4;
	list-style: square;
	margin: 20px auto 0 auto;
	max-width: 700px;
	width: 60%;
}
#drone-section-content ul span{
	color: #3C3C3B;
}
.drone-table-container {
	background: white;
	display: flex;
	margin-top: 100px;
}
.drone-table-container::before {
	background: #5a75b4;
	content: '';
	margin-right: 30px;
	width: 30px; 
}
.drone-table-container .table-responsive {
	flex-grow: 1;
}
.drone-table-container .table {
	margin-bottom: 0;
}
.drone-table-container .table > * > tr > td,
.drone-table-container .table > * > tr > th {
	/*line-height: 1.8 !important;*/
	padding: 20px 0 !important;
	border-color: #dedede;
	border-width: 1px;
}
.drone-table-container th.not-bold-th {
	font-weight: normal;
}
.drone-table-container td.bold-td {
	font-family: "AvenirHeavy";
	color: black;
}
.drone-table-container thead th:not(.not-bold-th) {
	font-family: "AvenirHeavy";
	color: black;
}
.drone-table-container .text-line {
	display: block;
}
.drone-table-container .text-line:not(:first-child),
.drone-table-container .table table tr:not(:first-child) td {
	padding-top: 5px;
}

#contact-modal .modal-dialog {
	background: #5975b4;
	height: 100%;
	margin: 0;
	overflow-y: auto;
	padding: 5% 13%;
	width: 100%;
}
#contact-modal .modal-content {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 0;
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
}
#contact-modal .modal-body > img {
	display: block;
	margin: 0 auto 60px auto;
}
#contact-modal .close-modal {
	color: white;
	font-family: Avenir;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(250%);
}
#contact-modal form *:not(button):not(div) {
	background: transparent;
	border-color: white;
	border-style: solid;
	border-width: 0 0 1px 0;
	color: white;
	font-family: Catamaran;
	font-size: 15px;
	margin-top: 40px;
	outline: none;
	padding: 0 0 10px 0;
}
#contact-modal form *.full-size {
	width: 100%;
}
#contact-modal form *.medium-size {
	width: 46%;
}
#contact-modal form *.medium-size:first-child {
	float: left;
}
#contact-modal form *.medium-size:last-child {
	float: right;
}
#contact-modal form *:not(div):not(button)::-moz-placeholder {
  color: white;
	letter-spacing: 1.5px;
}
#contact-modal form *:not(div):not(button)::-webkit-input-placeholder {
  color: white;
	letter-spacing: 1.5px;
}
#contact-modal form *:not(div):not(button):-ms-input-placeholder {
  color: white;
	letter-spacing: 1.5px;
}
#contact-modal form *:not(div):not(button):-moz-placeholder {
  color: white;
	letter-spacing: 1.5px;
}
#contact-modal textarea {
	height: 33px;
	resize: none;
	transition: all 0.2s;
}
#contact-modal textarea:focus {
	height: 66px;
}
#contact-modal .send-button {
	background: #629de1;
	border: none;
	border-radius: 20px;
	color: white;
	font-family: Catamaran;
	font-variant: small-caps;
	font-size: 23px;
	letter-spacing: 2px;
	margin-top: 90px;
	outline: none;
	padding: 2px 30px;
}

.footer-container{
	background-color: #5a75b4;
	padding-top: 90px;
	padding-bottom: 90px;
	max-width: 1540px;
	margin: 0 auto;
}
.footer-logo{
	width: 200px;
	height: auto;
	margin: auto;
}
.footer-links{
	font-size: 17px;
}
.footer-links a {
	color: white;
	text-decoration: none;
}
.footer-contact{
	text-align: right;
	padding-top: 40px;
	padding-right: 20px;
}
.footer-info{
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
}

@media(max-width: 1200px){
	.about-us-text-container {
		width: 90%;
	}
	.machinery-header {
		padding-bottom: 120px;
	}
}
@media(max-width: 992px){
	.machinery-header {
		padding-bottom: 80px;
	}
	.trunz-title {
		margin-top: 50px;
	}
	.trunz-link{
		margin: 60px auto 0 auto;
	}
	.machinery-trunz-logo {
		margin-left: 0;
	}
	.machinery-trunz-text {
		margin-left: 0;
		text-align: center !important;
		margin-bottom: 45px;
	}
	.header-title{
		font-size: 50px;
		padding-bottom: 10px;
	}
	.header-subtitle{
		font-size: 70px;
		line-height: 53px;
	}
}
@media(max-width: 768px){
	.footer-contact{
		text-align: center;
		padding-top: 30px;
	}
	.footer-info{
		text-align: center;
		padding-top: 0px;
		padding-bottom: 20px;
		padding-left: 0px;
	}
	.footer-container > .row > div {
		padding-left: 0;
	}
	.dron .image-title {
		font-size: 30px;
	}
	.image-subtitle-dron {
		font-size: 50px;
		line-height: 0.9;
	}
	.about-us-text-container {
		display: block;
		text-align: center;
		width: 85%;
	}
	.about-us-image {
		display: inline-block;
	}
	.about-us-text {
		text-align: left;
		margin: 50px 0 0 0;
	}
	.machinery-header {
		padding-bottom: 50px;
	}
	#machinery-squares {
		margin-top: 0;
		margin-bottom: 0;
	}
	.machinery-boxes {
		display: block;
	}
	.machinery-boxes fieldset {
		width: 100%;
	}
	.machinery-boxes fieldset:first-child {
		margin: 0;
	}
	.machinery-boxes fieldset:last-child {
		margin: 40px 0 0 0;
	}
	.machinery-type-header {
		padding: 0;
	}
	.machinery-type-header img {
		margin: 0;
	}
	.machinery-type-header + .machinery-type-subsection {
		margin-top: 55px;
	}
	#drone-section-header {
		margin-top: 60px;
	}
	#drone-section-header .small-text {
		font-size: 25px;
	}
	#drone-section-header .big-text {
		font-size: 40px;
	}
	.machinery-type-subsection .items-container {
		display: block;
	}
	.machinery-type-subsection .items-container fieldset {
		margin: 30px auto 0 auto;
		width: 80% !important;
	}
}
@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav>li>a {
    text-align: center;
	}
  .navbar-nav.navbar-right {
  	display: none;
  }
  .navbar-mobile-logo {
  	display: inline-block;
  	margin-left: 22.5px;
  	margin-top: 9px;
  }
	.header-text {
		margin-left: 20px;
	}
  .navbar-mobile-logo img {
  	height: 30px;
  }
	.footer-container > .row > div  {
		padding-right: 0;
	}
	.footer-contact {
		padding-right: 0;
	}
}
@media(max-width: 680px){
	#contact-modal form *.medium-size {
		width: 100%;
		float: none;
	}
	#contact-modal .close-modal {
		transform: none;
	}
	.header-container{
		height: 70vh;
	}
	.header-description{
		font-size: 17px;
	}
	.borders{
		padding-right: 0px;
		padding-left: 0px;
	}
	.trunz-logo{
		margin: auto;
		display: block;
	}
	.trunz-title{
		text-align: center;
	}
	.trunz-description{
		text-align: center;
		padding-right: 0px;
	}
	.filler-content{
		padding-right: 20px;
		padding-left: 20px;
	}
	.image-title{
		font-size: 38px;
	}
	.image-subtitle {
		font-size: 68px;
		line-height: 60px;
		margin-left: -3px;
	}
	.image-container.one .image-subtitle {
		margin-left: -5px;
	}
	.dron .image-title {
		font-size: 24px;
	}
	.image-subtitle-dron {
		font-size: 32px;
		line-height: 1;
	}
	.image-container{
		text-align: center !important;
	}
	.image-container.one{
		padding-left: 0px;
	}
	.image-container.three{
		padding-right: 0px;
	}
	.image-container.dron{
		padding-left: 0px;
		padding-bottom: 100px;
	}
	.header-title{
		font-size: 25px;
		padding-bottom: 10px;
	}
	.header-subtitle{
		font-size: 58px;
		line-height: 53px;
	}
	.section-gray-header {
		font-size: 16px;
	}
	.section-gray-header h2{
		font-size: 30px;
	}
	.filler-content {
		font-size: 24px;
	}
}
@media(max-width: 545px){
	.machinery-certifications {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	#drone-section-content {
		padding-bottom: 80px;
		padding-top: 50px;
	}
	#drone-section-content p {
		width: 80%;
	}
	#drone-section-content ul {
		width: 76%;
	}
	.drone-table-container {
		margin-top: 60px;
	}
}
@media screen and (max-width: 390px) {
	body, fieldset {
		font-size: 16px;
	}
	.filler {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.machinery-boxes {
		margin-bottom: 50px;
	}
	#contact-modal textarea {
		height: 56px;
	}
	#contact-modal textarea:focus {
		height: 120px;
	}
	.trunz-title {
		font-size: 23px;
	}
	.trunz-description {
		font-size: 16px;
	}
}